<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-payu" version="0.1.0"
 xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>PayU</name>
  <js-module name="PayU" src="www/PayU.js">
  <clobbers target="cordova.plugins.PayU" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
		<feature name="PayU">
			<param name="android-package" value="cordova.plugin.payu.PayU" />
		</feature>
	</config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.FLASHLIGHT" />
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.VIBRATE" />
        <uses-permission android:name="android.permission.BLUETOOTH" />
        <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        <uses-permission android:name="android.permission.GET_TASKS" />
    </config-file>
    <source-file src="src/android/PayU.java" target-dir="src/cordova/plugin/payu/PayU" />
    <framework src="src/android/payu.gradle" custom="true" type="gradleReference"/>
  </platform>
  </plugin>